Vinnubók fyrir verkefni 1 í greiningu reikniritia. Nánari lýsingu er að finna í skýrslunni.

In [37]:
import numpy as np
import pandas as pd
import math
import random
import statistics
from scipy.stats import rankdata
from numpy import asarray
from numpy import save
from numpy import asarray
from numpy import savetxt
from numpy import loadtxt
import sys

In [38]:
# Mounta drive og sitja directory á viðeigandi stað
from google.colab import drive
drive.mount('/content/drive')
%cd ./drive/MyDrive/Colab\ Notebooks
%pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
[Errno 2] No such file or directory: './drive/MyDrive/Colab Notebooks'
/content/drive/MyDrive/Colab Notebooks

'/content/drive/My Drive/Colab Notebooks'

In [39]:
n = 1000000
niter = 1000

Þau föll sem notuð eru til að finna vendisstökin auk falls sem býr til drefingu B.

In [40]:
def Random_pivot(n):
    return random.randint(0,n)

def Median_3(arr):
    n = arr.shape[0]
    mid = math.ceil(n/2)
    if(arr[0] <= arr[mid] <= arr[n-1]):
        return mid
    if(arr[n-1] <= arr[mid] <= arr[0]):
        return mid
    if(arr[0] <= arr[n-1] <= arr[mid]):
        return n-1
    if(arr[mid] <= arr[mid] <= arr[0]):
        return n-1
    if(arr[mid] <= arr[0] <= arr[n-1]):
        return 0
    if(arr[n-1] <= arr[0] <= arr[mid]):
        return 0

def Mom_pivot(arr,k):
    m = math.ceil(arr.shape[0]/k)
    vals = np.zeros(m)
    for i in range(m):
        vals[i] = statistics.median(np.array(arr[i*k:(i+1)*k]))
    if(np.random.rand()>0):
      mom_val = statistics.median_low(vals)
    else:
      mom_val = statistics.median_high(vals)
    mom_idx = np.where(arr == mom_val)[0][0]
        
    return mom_idx

def light_shuffle(arr):
  n = arr.shape[0]
  for i in range(n):
    if(100<=i<=(n-100)-10):
      swap_idx = np.random.randint(i-100,high = (i + 100))
    elif(i<100):
      swap_idx = np.random.randint(0,high =100)
    else:
      swap_idx = np.random.randint(i - 100,high =(n-1))   
    tmp  = arr[i]
    arr[i] = arr[swap_idx]
    arr[swap_idx] = tmp 
  return arr

#Gagnasöfnun
Fundið er staðsetningu vendisstaksins í röðuðu fylki fyrir allar þrjár aðferðirnar og þeim niðurstöðum komið fyrir í fylki.

In [41]:
MOM_A = []
Random_A = []
Three_A = []

arr = np.arange(n)
for i in range(niter):
  random.shuffle(arr)
  mom_piv = Mom_pivot(arr,5)
  three_piv = Median_3(arr)
  random_piv = Random_pivot(arr.shape[0])

  MOM_A.append(rankdata(arr, method='ordinal')[mom_piv])
  Three_A.append(rankdata(arr,method='ordinal')[three_piv])
  Random_A.append(rankdata(arr,method='ordinal')[random_piv])
  if(i%100==0):
    print("iteration: ", i)

print("\nMOM\nIterations: ",len(MOM_A)," Mean pivot placement: ",np.mean(MOM_A))
print("\nThree Median\nIterations: ",len(Three_A)," Mean pivot placement: ",np.mean(Three_A))
print("\nRandom Pivot\nIterations: ",len(Random_A)," Mean pivot placement: ",np.mean(Random_A))


MOM_A = np.array(MOM_A)
Random_A = np.array(Random_A)
Three_A = np.array(Three_A)

savetxt('MOM_A.csv', MOM_A, delimiter=',')
savetxt('Random_A.csv', Random_A, delimiter=',')
savetxt('Three_A.csv', Three_A, delimiter=',')

iteration:  0
iteration:  100
iteration:  200
iteration:  300
iteration:  400
iteration:  500
iteration:  600
iteration:  700
iteration:  800
iteration:  900

MOM
Iterations:  1000  Mean pivot placement:  499996.226

Three Median
Iterations:  1000  Mean pivot placement:  552791.935

Random Pivot
Iterations:  1000  Mean pivot placement:  516001.992

In [42]:
MOM_B = []
Random_B = []
Three_B = []

for i in range(int(niter/2)): #Var að renna út á tíma og hver keyrsla var tímafrek
  arr = np.arange(n)
  arr = light_shuffle(arr)

  mom_piv = Mom_pivot(arr,5)
  three_piv = Median_3(arr)
  random_piv = Random_pivot(arr.shape[0])

  MOM_B.append(rankdata(arr, method='ordinal')[mom_piv])
  Three_B.append(rankdata(arr,method='ordinal')[three_piv])
  Random_B.append(rankdata(arr,method='ordinal')[random_piv])
  if(i%100==0):
    print("iteration: ", i)

print("\nMOM\nIterations: ",len(MOM_B)," Mean pivot placement: ",np.mean(MOM_B))
print("\nThree Median\nIterations: ",len(Three_B)," Mean pivot placement: ",np.mean(Three_B))
print("\nRandom Pivot\nIterations: ",len(Random_B)," Mean pivot placement: ",np.mean(Random_B))


MOM_B = np.array(MOM_B)
Random_B = np.array(Random_B)
Three_B = np.array(Three_B)

savetxt('MOM_B.csv', MOM_B, delimiter=',')
savetxt('Random_B.csv', Random_B, delimiter=',')
savetxt('Three_B.csv', Three_B, delimiter=',')

iteration:  0
iteration:  100
iteration:  200
iteration:  300
iteration:  400

MOM
Iterations:  500  Mean pivot placement:  500011.11

Three Median
Iterations:  500  Mean pivot placement:  500006.7

Random Pivot
Iterations:  500  Mean pivot placement:  502709.84

In [44]:
MOM_C = []
Three_C = []
Random_C = []

for i in range(niter):
  arr = np.random.randint(1000,size=n)
  mom_piv = Mom_pivot(arr,5)
  three_piv = Median_3(arr)
  random_piv = Random_pivot(arr.shape[0])

  MOM_C.append(rankdata(arr, method='ordinal')[mom_piv])
  Three_C.append(rankdata(arr,method='ordinal')[three_piv])
  Random_C.append(rankdata(arr,method='ordinal')[random_piv])
  if(i%100==0):
    print("iteration: ", i)

print("\nMOM\nIterations: ",len(MOM_C)," Mean pivot placement: ",np.mean(MOM_C))
print("\nThree Median\nIterations: ",len(Three_C)," Mean pivot placement: ",np.mean(Three_C))
print("\nRandom Pivot\nIterations: ",len(Random_C)," Mean pivot placement: ",np.mean(Random_C))

MOM_C = np.array(MOM_C)
Random_C = np.array(Random_C)
Three_C = np.array(Three_C)

savetxt('MOM_C.csv', MOM_C, delimiter=',')
savetxt('Random_C.csv', Random_C, delimiter=',')
savetxt('Three_C.csv', Three_C, delimiter=',')

iteration:  0
iteration:  100
iteration:  200
iteration:  300
iteration:  400
iteration:  500
iteration:  600
iteration:  700
iteration:  800
iteration:  900

MOM
Iterations:  1000  Mean pivot placement:  499497.201

Three Median
Iterations:  1000  Mean pivot placement:  545271.346

Random Pivot
Iterations:  1000  Mean pivot placement:  510188.325

Hlaðið inn fylkjum sem voru búin til áður.

In [ ]:
MOM_A = loadtxt('MOM_A.csv', delimiter=',')
Three_A = loadtxt('Three_A.csv',delimiter=',')
Random_A = loadtxt('Random_A.csv',delimiter=',')

MOM_B = loadtxt('MOM_B.csv', delimiter=',')
Three_B = loadtxt('Three_B.csv',delimiter=',')
Random_B = loadtxt('Random_B.csv',delimiter=',')

MOM_C = loadtxt('MOM_C.csv', delimiter=',')
Three_C = loadtxt('Three_C.csv',delimiter=',')
Random_C = loadtxt('Random_C.csv',delimiter=',')

np.mean(MOM_A),np.mean(Three_A),np.mean(Random_A)

# Úrvinnsla gagna úr fyrri hluta

In [45]:
l=[('MoM', 'Mean'),  ('MoM', 'Std'), ('MoM','One norm'), ('3 median', 'Mean'),  ('3 median', 'Std'), ('3 median','One norm'), ('Random pivot', 'Mean'),  ('Random pivot', 'Std'), ('Random pivot','One norm'),]
data = [[np.mean(MOM_A),np.std(MOM_A),np.mean(np.abs(MOM_A-(n/2-1))),np.mean(Three_A),np.std(Three_A),np.mean(np.abs(Three_A-(n/2-1))),np.mean(Random_A),np.std(Random_A),np.mean(np.abs(Random_A-(n/2-1)))],
        [np.mean(MOM_B),np.std(MOM_B),np.mean(np.abs(MOM_B-(n/2-1))),np.mean(Three_B),np.std(Three_B),np.mean(np.abs(Three_B-(n/2-1))),np.mean(Random_B),np.std(Random_B),np.mean(np.abs(Random_B-(n/2-1)))],
        [np.mean(MOM_C),np.std(MOM_C),np.mean(np.abs(MOM_C-(n/2-1))),np.mean(Three_C),np.std(Three_C),np.mean(np.abs(Three_C-(n/2-1))),np.mean(Random_C),np.std(Random_C),np.mean(np.abs(Random_C-(n/2-1)))]]
df = pd.DataFrame(data, columns = l)
df.columns = pd.MultiIndex.from_tuples(df.columns, names=['Vendisaðferð','Dreifing'])
df.index = ['A','B','C']
df

Vendisaðferð         MoM              ...   Random pivot
Dreifing            Mean         Std  ...            Std    One norm
A             499996.226  329.989604  ...  284798.755992  245050.130
B             500011.110    7.784208  ...  279503.747241  239825.708
C             499497.201  441.605709  ...  284821.676264  245530.503

[3 rows x 9 columns]

#Seinni hluti

In [50]:
MOM_3 = []
MOM_5 = []
MOM_7 = []

for i in range(niter):
  arr = np.random.randint(1000,size=n)
  piv_3 = Mom_pivot(arr,3)
  piv_5 = Mom_pivot(arr,5)
  piv_7 = Mom_pivot(arr,7)

  MOM_3.append(rankdata(arr, method='ordinal')[piv_3])
  MOM_5.append(rankdata(arr, method='ordinal')[piv_5])
  MOM_7.append(rankdata(arr, method='ordinal')[piv_7])
  if(i%100==0):
    print("iteration: ", i)

print("\nK = 3\nIterations: ",len(MOM_3)," Mean pivot placement: ",np.mean(MOM_3))
print("\nK = 5\nIterations: ",len(MOM_5)," Mean pivot placement: ",np.mean(MOM_5))
print("\nK = 7\nIterations: ",len(MOM_7)," Mean pivot placement: ",np.mean(MOM_7))

MOM_3 = np.array(MOM_3)
MOM_5 = np.array(MOM_5)
MOM_7 = np.array(MOM_7)

savetxt('MOM_3.csv', MOM_3, delimiter=',')
savetxt('MOM_5.csv', MOM_5, delimiter=',')
savetxt('MOM_7.csv', MOM_7, delimiter=',')

iteration:  0
iteration:  100
iteration:  200
iteration:  300
iteration:  400
iteration:  500
iteration:  600
iteration:  700
iteration:  800
iteration:  900

K = 3
Iterations:  1000  Mean pivot placement:  499526.729

K = 5
Iterations:  1000  Mean pivot placement:  499518.869

K = 7
Iterations:  1000  Mean pivot placement:  499511.639

#Niðurstöður seinni hluta

In [61]:
l=[('K = 3', 'Mean'),  ('K = 3', 'Std'), ('K = 3','One norm'), ('K = 5', 'Mean'),  ('K = 5', 'Std'), ('K = 5','One norm'), ('K = 7', 'Mean'),  ('K = 7', 'Std'), ('K = 7','One norm')]
data = [[np.mean(MOM_A),np.std(MOM_3),np.mean(np.abs(MOM_3-(n/2-1))),np.mean(MOM_5),np.std(MOM_5),np.mean(np.abs(MOM_5-(n/2-1))),np.mean(MOM_7),np.std(MOM_7),np.mean(np.abs(MOM_7-(n/2-1)))]]
df = pd.DataFrame(data,columns=l)
df.columns = pd.MultiIndex.from_tuples(df.columns)

df

        K = 3                       ...       K = 7
         Mean         Std One norm  ...        Mean         Std One norm
0  499996.226  406.039599  519.989  ...  499511.639  440.993257  544.511

[1 rows x 9 columns]